@*@model CarDealarship.UI.Models.ChangePasswordVMs

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Old Password</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", style = "width:400px", placeholder = "Old Password" })
                <br />

                <label>New Password</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "width:400px", placeholder = "New Password" })
                @Html.ValidationMessageFor(m => m.NewPassword)
                <br />
                <label>Confirm New Password</label>
                @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control", style = "width:400px", placeholder = "Confirm New Password" })
                <br />

                <button class="btn btn-md btn-danger">Cancel</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-md btn-primary">Save</button>&nbsp;&nbsp;
                <br />

                <br />
            </div>
        }
    </div>
</div>*@