body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border: none;
    line-height : 1px;
}

.searchItems {  
   border :solid 1px;
   margin-bottom : 50px;
   margin-right : -10px;
}

#searchbox {
    width: 100%;
    height: 150%;    
    padding: 15px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}

#minPrice, #maxPrice {
    width: 30%;
    height: 100%;
    padding: 1px 2px;
    border: 1px solid #ccc;
    margin : 20px;
}

#maxPrice {
    margin-left: -10px;
}

#minYear {
    width: 10%;
    height: 100%;
    padding: 1px 2px;
    border: 1px solid #ccc;
    margin-right: -10px;
}

#maxYear {
    width: 10%;
    height: 100%;
    padding: 1px 2px;
    border: 1px solid #ccc;
    margin: 20px;
}

#searchButton {
    width: 20%;
    height: 50%;
    margin-left : 70px;
   
}

#quick {
    margin-left: 10px;
}

#searchResultTitle {
    margin-left: 22px;
}

#specials {
    border: 1px solid #ccc;
    padding: 10px;
    
}
footer {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#SearchResult {
    border: solid 1px;
    margin: 25px;
    background-color: cornsilk;
}



td {
    
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 5.1em;
    padding-left: 3em;
}

#detailsPage {
    background-color: cornsilk;
    border: solid 2px;
    padding: 30px
}

#desc {
    padding-top: 10px;
    padding-left: 285px;
}

#detailstocontactus {
        
    text-align: right;
    display: inline-block;    
    margin-left: 50%;
    float: right
}

#salesSearchResult {
    border: solid 1px;
    margin: 25px;
    background-color: cornsilk;
}

#SearchResults {
    border: solid thick 1px;
    margin: 25px;
    background-color:  whitesmoke;
}

.makesAndModelDrpdwn {
    display :inline;
   
}

.makesPage {
    border: solid 2px;
    padding: 10px;
    margin : 10px;   
}

.userDisplay {
   
    padding: 10px;
    margin: 10px;    
  
}

#specialplaceholder {
    margin: 10px;
    padding: 10px;
    border: solid 2px;
}

hr {
    background-color: red;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}