@{
    ViewBag.Title = "Car Dealarship";
}
<div class="container">
    <div class="col-xs-12 jumbotron">
        <div class="carousel slide" data-ride="carousel">
            <h1>BIG HUGE SALE!!!</h1>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#"></a>
                </div>
            </div>

        </div>

    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <h2 id="features">Featured Vehicles</h2>
        </div>
        <div>
            <div class="col-md-12" id="featured">
            </div>

        </div>
    </div>


</div>


