@using CarDealarship.Model.Tables
@model IEnumerable<Specials>
@{
    ViewBag.Title = "Specials";
}

@*<div>
        @if(Model != null){

            <div>
                @foreach (var sp in Model)
                {
                    <p class="text-center" style="color:red">@sp.Title</p>
                    <p class="body-content">@sp.Message</p>
                }

            </div>

        }
    </div>*@


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Specials</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="specials"></div>
            </div>
        </div>
    </div>

</div>


